<div id="valuePicker" data-dojo-type="dojox.mobile.View">
    
    <ul data-dojo-type="dojox.mobile.TabBar"
        data-dojo-props='barType:"segmentedControl", fixed:"top"'>
        <li data-dojo-type="dojox.mobile.TabBarButton"
            data-dojo-props='selected:true, moveTo:"datePickerView"'
            >Date</li>
        <li data-dojo-type="dojox.mobile.TabBarButton" data-dojo-props='moveTo:"timePickerView"'>Time</li>
    </ul>
    
    <div id="datePickerView" data-dojo-type="dojox.mobile.View">
        <div id="picker1" data-dojo-type="dojox.mobile.DatePicker"></div>
        <div data-dojo-type="dojox.mobile.Heading">
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="gotoToday()" data-dojo-props='label:"Reset"'></span>
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="showSelectedValue()" data-dojo-props='label:"Apply"'></span>
            <span id="msg"></span>
        </div>
    </div>

    <div id="timePickerView" data-dojo-type="dojox.mobile.View">
        <div id="picker2" data-dojo-type="dojox.mobile.TimePicker"></div>
        <div data-dojo-type="dojox.mobile.Heading">
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="gotoNow()" data-dojo-props='label:"Reset"'></span>
            <span data-dojo-type="dojox.mobile.ToolBarButton" onClick="showSelectedTime()" data-dojo-props='label:"Apply"'></span>
            <span id="msg2"></span>
        </div>
    </div>

</div>
